$break-x-small: 375px;
$break-small: 635px;
$break-middle: 1100px;
$break-large: 1400px;

@font-face {
  font-family: Grotta;
  src: url("/fonts/Grotta-Regular.otf") format("opentype"),
  url("/fonts/Grotta-Regular.ttf") format("truetype");
}

.App {
  font-family: Grotta, sans-serif;
  font-size: 20px;
  background-color: #B3B3B3;
  cursor: url(/img/cursor.png) 42 19, url(/img/cursor-75.png) 31 14, url(/img/cursor-50.png) 21 9, url(/img/cursor-25.png) 10 5, none;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  a:hover {
    font-feature-settings: "salt";
    animation-name: cursorbounce;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  @keyframes cursorbounce {
    0% {
      cursor: url(/img/cursor.png) 42 19, url(/img/cursor-75.png) 31 14, url(/img/cursor-50.png) 21 9, url(/img/cursor-25.png) 10 5, none;
    }

    25% {
      cursor: url(/img/cursor-75.png) 31 14, url(/img/cursor-50.png) 21 9, url(/img/cursor-25.png) 10 5, none;
    }

    50% {
      cursor: url(/img/cursor-50.png) 21 9, url(/img/cursor-25.png) 10 5, none;
    }

    75% {
      cursor: url(/img/cursor-25.png) 10 5, none;
    }

    100% {
      cursor: none;
    }
  }

  .main-logo {
    fill: #222222;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 90px;
  }

  .intro-text {
    margin: 100px 145px 0 80px;

    font-size: 2.75em;
    line-height: 1em;

    letter-spacing: 0.055em;
    text-transform: uppercase;
    font-feature-settings: 'salt' on, 'ss02' on, 'kern' off;

    color: #000000;
  }

  .photo-block {
    height: 914px;
    margin: 80px 127px 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .photo {
      flex: 0 0 auto;
    }

    .click {
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      font-weight: 500;
      font-size: 0.6em;
      letter-spacing: 0.055em;
      text-transform: uppercase;

      .star {
        flex: 0 0 10px;
        margin-left: 26px;
      }
    }
  }

  .projects-container {
    margin: 250px 150px 0 80px;
    position: relative;

    .projects-header {
      position: absolute;
      left: 75%;
      top: 5px;

      margin: 0;

      font-weight: 500;
      font-size: 0.8em;

      letter-spacing: 0.055em;
      text-transform: uppercase;
    }

    .projects-list {
      list-style: none;
      padding: 0;
      margin: 0;

      font-weight: 500;
      font-size: 6.3em;
      line-height: 1.26em;

      letter-spacing: 0.055em;
      text-transform: uppercase;

      color: #333333;
    }
  }

  .contact {
    margin: 150px 80px 0 80px;

    font-size: 2.75em;
    line-height: 0.95em;

    letter-spacing: 0.055em;
    text-transform: uppercase;
    font-feature-settings: 'kern' off;

    color: #333333;

    .email {
      display: inline;
      color: white;
    }

    .hand-img {
      display: inline-block;
      margin-left: 0.6em;
      height: 0.93em;
    }
  }

  .mini-logo {
    margin: 180px auto 0 auto;
    width: 264px;

    img {
      display: inline-block;
    }
  }

  .footer {
    margin: 240px 80px 0 80px;
    padding-bottom: 10px;

    font-size: 0.6em;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    font-feature-settings: 'kern' off;
  }
}
